<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Batalha de Streams</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
    </div>
    <a href="/menu" class="mid">
        JOGAR
    </a>
    <div class="footer">
        <div class="texto1">
            <p>Advinhe qual música tem mais streams</p>
            <p>e passe de fase!</p>
        </div>
        <div class="texto2">
            <p>Feito por Fernando Brito</p>
        </div>
    </div>
</body>
</html>
